<div class="main">
  <div class="main-header">
    <div class="mainroom"><%= @room.name %></div>
    <%= link_to "チャットを終了する", room_path(@room), data: {turbo_method: :delete}, class: "del-room-btn"%>
  </div>
  <div class="posts">
    <%= render partial: "message", collection: @messages%>
  </div>
  <%= form_with model: [@room, @message], local: true, class: "post-form" do |f| %>
    <div class="input-form">
      <%= f.text_field :content, placeholder: "type a message", class: "text-form" %>
      <label class="img-btn">画像
        <%= f.file_field :image, class: "hidden" %>
      </label>
    </div>
    <%= f.submit "送信", class: "submit-btn" %>
  <% end %>
</div>